{% extends '::accueilLayout.html.twig' %}

{% block content %}
    <div class="content-section-b">

        <div class="container">
            <div class="row" style="min-height: 300px">

                <div class="col-lg-3" style="background-color: #01a2bb; border-radius: 5px; ">

                    <div style="text-align: center; padding-top:10px">
                        <img src="{{ asset('bundles/ffbb/accueil/img/trophy36.png') }}" alt="utilisateurs optimouv"
                             width="20%" height="20%"/>
                    </div>
                    <div style=" text-align: center; color:#fff">
                        <h3>Optimisation des poules </h3>
                    </div>


                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-3" style="background-color: #babe11; border-radius: 5px;">
                    <a href="{{ path('ffbb_choisir_liste_participants') }}" style="text-decoration: none;">
                        <div style="text-align: center; padding-top:10px">
                            <img src="{{ asset('bundles/ffbb/accueil/img/pin66.png') }}"
                                 alt="Meilleur lieu de rencontre" width="20%" height="20%"/>
                        </div>
                        <div style=" text-align: center; color:#fff">
                            <h3>Meilleur lieu de rencontre </h3>
                        </div>
                    </a>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-3" style="background-color: #f07800; border-radius: 5px;">
                    <div style="text-align: center; padding-top:10px">
                        <img src="{{ asset('bundles/ffbb/accueil/img/chart42.png') }}" alt="Rapports" width="20%"
                             height="20%"/>
                    </div>
                    <div style=" text-align: center; color:#fff">
                        <h3>Rapports </h3>
                    </div>
                </div>
                <div class="col-lg-1"></div>

            </div>

        </div>
        <!-- /.container -->

    </div>


    <!-- /.content-section-b -->
{% endblock %}
