{% extends '::accueilLayout.html.twig' %}

{% block content %}
    <div class="content-section-b" style="background-color: #FFFFFF">


        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-a">

        <div >

            <div class="row" style="min-height: 200px">
                     <p style="text-align: justify; font-size: 15px; position: relative; float: left; padding-left:10px;  padding-right:10px">
                    Vous êtes actuellement connecté à OPTIMOUV, propriété exclusive de la Fédération Française de BasketBall, association loi 1901 reconnue d'utilité publique dont le siège se situe au 117, rue du Château des Rentiers, 75013 Paris, France (Tel : 01.53.94.25.00 – Fax : 01.53.94.26.80).
                    Le directeur de la publication du présent site internet est M. Jean-Pierre SIUTAT, président de la FFBB.<br>
                    L’éditeur s’engage à respecter l’ensemble des lois concernant la mise en place et l’activité d’un site internet.
                    </p>
                <div>
                    <a href="javascript:history.back()" class="btn btn-default"><h5>Retour</h5></a>
                </div>


            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->
{% endblock %}
