Bonjour,
<br><br>

Pour activer votre compte, merci de vous rendre sur ce <a href="http://{{ base_url }}{{ path('admin_user_activate', {'idUser': idUser}) }}"> lien</a>.

<br> <br>
Cordialement,
L'équipe