Bonjour {{ username }} !
<br><br>

Pour réinitialiser votre mot de passe, merci de vous rendre sur ce <a href="http://{{ base_url }}{{ path('admin_update_password', {'idUser': idUser}) }}"> lien</a>.

<br> <br>
Cordialement,
L'équipe