/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/spool/*
!app/spool/.gitkeep
/app/phpunit.xml
/bin/
/var/logs/*
!var/logs/.gitkeep
/vendor/
/web/bundles/
# Composer
/composer.phar
*.bak

# .idea dossier phpStorm
/.idea

# Eclipse files
/.project
/.pydevproject

#/app/DoctrineMigrations/*

# Python config and cache files
/python/config.py
/python/__pycache__/
/nbproject/private/
/nbproject/*
*/*.kate-swp
*.kate-swp

# Docker
/docker/docker-compose.override.yml
