/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/vendor/
/web/bundles/
# Composer
/composer.phar
/composer.lock

# .idea dossier phpStorm
/.idea