<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <meta charset="UTF-8">
    <style>
        table {
            border-collapse: collapse;
        }

        table, td, th {
            border: 1px solid black;
        }
    </style>
</head>
<body>

{% include 'FfbbBundle:Poules:contenuExportPdf.html.twig' with {'typeInclude' : 'export'} %}




</body>
</html>
