{% extends '::BOLayout.html.twig' %}

{% block pagewrapper %}
    <div id="page-wrapper">


        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-red" style="resize:vertical; overflow-y:auto;">
                    <div class="panel-heading">
                        Informations sur les règles de calcul des estimations financières
                    </div>
                    <div class="panel-body" style="min-height: 150px; max-height: 190px">
                        <ul class="list-unstyled"
                            style="padding-left:20px; list-style-image: url('{{ asset('bundles/ffbb/images/puce-mini.png') }}')">

                                  <li> Le coût des trajets est calculé à partir d'un coût moyen du kilomètre en euros, du nombre de kilomètres à parcourir et du nombre de participants à transporter.</li>

                        </ul>
                    </div>

                </div>
            </div>
            <!-- /.col-lg-4 -->

        </div>
        <!-- /.row -->

        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-red" style="resize:vertical; overflow-y:auto;">
                    <div class="panel-heading">
                        Informations sur les règles de calcul des émissions de GES
                    </div>
                    <div class="panel-body" style="min-height: 150px; max-height: 190px">
                        <ul class="list-unstyled"
                            style="padding-left:20px; list-style-image: url('{{ asset('bundles/ffbb/images/puce-mini.png') }}')">

                            <li> Les émissions de GES sont calculées à partir d'un coefficient ADEME, du nombre de kilomètres à parcourir et du nombre de participants à transporter.</li>

                        </ul>
                    </div>

                </div>
            </div>
            <!-- /.col-lg-4 -->

        </div>
        <!-- /.row -->


    </div>

{% endblock %}



