# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~
    mailer_transport: gmail
    mailer_host: smtp.gmail.com
    mailer_user: vtc.ouss@gmail.com
    mailer_password: EJAg$m896!
    secret:            ThisTokenIsNotSoSecretChangeIt
    # ci-dessous les deux parametres pour Here
    app_id: tObeTMHIXTfmuTUvyDBa
    app_code: 6ST2s3g8BkS7B0Uft0kPeg
    # chemin errorlog
    error_log_path: error_log_optimouv.txt

