# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~
    mailer_transport: smtp
    mailer_host: smtp.it4pme.fr
    mailer_port: 587
    mailer_user: serviceclients@it4pme.fr
    mailer_password: MailMw92
    mailer_sender: support@optimouv.net
    sender_name: service clients it4pme
    secret:            ThisTokenIsNotSoSecretChangeIt
    # ci-dessous les deux parametres pour Here
    app_id: tObeTMHIXTfmuTUvyDBa
    app_code: 6ST2s3g8BkS7B0Uft0kPeg
    # chemin errorlog
    error_log_path: error_log_optimouv.txt
    base_url: optimouv
    path_wkhtmltopdf: "\"C:\\Program Files\\wkhtmltopdf\\bin\\wkhtmltopdf.exe\""
    mq_rencontre_exchange: rencontre_exchange
    mq_poule_exchange: poule_exchange
    mq_rencontre_queue: rencontre_queue
    mq_poule_queue: poule_queue
    locale: fr
    #conf RabbitMQ
    host_RMQ: localhost
    port_RMQ: 5672
    user_RMQ: guest
    password_RMQ: guest
    vhost_RMQ: /
    lazy_RMQ: false