# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: mysql
    database_port: null
    database_name: optimouv
    database_user: root
    database_password: myPass

    mailer_transport: smtp
    mailer_host: HOSTNAME_SERVEUR_SORTANT
    mailer_port: PORT_SERVEUR_SORTANT
    mailer_user: USERNAME
    mailer_password: PASSWORD
    mailer_sender: ADRESSE_EMAIL
    sender_name: 'Service Optimouv'

    map_app_id: METTRE_VOTRE_ID_POUR_LA_CARTE
    map_app_code: METTRE_VOTRE_CODE_POUR_LA_CARTE
    route_app_id: METTRE_VOTRE_ID_POUR_LE_CALCUL_DE_ROUTE
    route_app_code: METTRE_VOTRE_CODE_POUR_LE_CALCUL_DE_ROUTE
    geocode_app_id: METTRE_VOTRE_ID_POUR_LES_REQUETES_GEOCODE
    geocode_app_code: METTRE_VOTRE_CODE_POUR_LES_REQUETES_GEOCODE

    here_request_limit: 200000

    base_url: METTRE_ICI_LE_HOSTNAME
    locale: fr
    secret: ThisTokenIsNotSoSecretChangeIt
    error_log_path: /optimouv/var/logs/symfony.log
    path_wkhtmltopdf: /optimouv/vendor/h4cc/wkhtmltopdf-amd64/bin/wkhtmltopdf-amd64

    mq_rencontre_exchange: rencontre_exchange
    mq_poule_exchange: poule_exchange
    mq_rencontre_queue: rencontre_queue
    mq_poule_queue: poule_queue
    host_RMQ: rabbitmq
    port_RMQ: 5672
    user_RMQ: rabbit
    password_RMQ: mq
    vhost_RMQ: /
    lazy_RMQ: false

    cle_site_captcha: METTRE_ICI_LA_CLE_DU_SITE
    cle_secrete_captcha: METTRE_ICI_LA_CLE_SECRETE

    cookie_liftetime: 3600
    max_number_active_users: 50
    time_limit_active_users: 5


    guide_utilisateur: 'https://amycompany.com/optimouv/manual'
    here_request_limit_debut: 2016/01/01
    here_request_limit_fin: 2016/07/31
