{% extends '::BOLayout.html.twig' %}

{% block pagewrapper %}


    <div id="page-wrapper">

        <div class="row">
            <div class="bs-example">
                <ul class="breadcrumb">
                    <li><a href="{{ path('ffbb_accueil_connect') }}">Accueil</a></li>
                    <li class="active">Gestion des rapports</li>
                </ul>
            </div>

        </div>

        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">Gérer vos rapports </h3>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                {% set rencontre = ["barycentre", "exclusion", "meilleurLieu", "terrainNeutre"] %}
                {% set idUser = app.user.id %}
                {% set roleUser = app.user.roles %}

                {% if ('ROLE_SUPER_ADMIN' in roleUser) or ('ROLE_ADMIN' in roleUser) %}
                    {{ include('@Ffbb/Rapports/listAdmin.html.twig') }}
                {% else %}
                    {{ include('@Ffbb/Rapports/listUser.html.twig') }}
                {% endif %}





            </div>
        </div>


    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function () {
            $('#tableRapport').DataTable({
                responsive: true,
                "order": [[ 0, "desc" ]]
            });

        });

        $(document).ready(function () {
            $('#tableRapportPoule').DataTable({
                responsive: true,
                "order": [[ 0, "desc" ]]
            });

        });
//        pour les admins
        $(document).ready(function () {
            $('#tableRapportAdmin').DataTable({
                responsive: true,
                "order": [[ 0, "desc" ]]
            });

        });

        $(document).ready(function () {
            $('#tableRapportPouleAdmin').DataTable({
                responsive: true,
                "order": [[ 0, "desc" ]]
            });

        });


        function deleteRapport(idRapport){
            $.ajax({
                url: '/admin/rapport/delete/' +idRapport,
                type: 'GET',
                data: null,
                contentType: false,
                dataType : "json",
                processData: false,
                success: function(data, textStatus, jqXHR)
                {
                    console.log(data);
                    if(typeof data.success)
                    {
                        deletedRapportDiv = '#' + idRapport;

                        $(deletedRapportDiv).remove();


                    }
                    else
                    {
                        // Handle errors here

                    }
                },
                error: function(jqXHR, textStatus, errorThrown)
                {
                    // Handle errors here

                }
            });
        }
    </script>
{% endblock %}



