{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}


    <br>
    <div class="row">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="text-center">
                            <img src="{{ asset('bundles/ffbb/accueil/img/Logo-Optimouv.jpg') }}" class="login" height="70">
                            <h3 >Création de compte</h3>
                            <div class="panel-body" style="text-align: left">

                                {{ include('@Admin/User/formAdd.html.twig') }}


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock fos_user_content %}
   {% block javascripts %}

       <script  language="javascript">

           function reloadDisciplines() {

               var selectedFederation = document.getElementById('listeFederation').value;
               selectedFederation = selectedFederation.split("|");
               var idSelectedFederation = selectedFederation[0];

               var all_disciplines = JSON.parse(document.getElementById('all_discipline').value);

               var choosenDisciplines = all_disciplines[idSelectedFederation];

               $('#listeDiscipline')
                       .find('option')
                       .remove()
                       .end();

               for (var i = 0 ; i < choosenDisciplines.length ; i++){

                   $('#listeDiscipline').append('<option value="'  + choosenDisciplines[i]["id"] + '">' + choosenDisciplines[i]["nom"] + '</option>')

               }


           }

           var password = document.getElementById("password")
                   , confirm_password = document.getElementById("confirm_password");

           function validatePassword(){
               if(password.value != confirm_password.value) {
                   confirm_password.setCustomValidity("Passwords Don't Match");
               } else {
                   confirm_password.setCustomValidity('');
               }
           }

           password.onchange = validatePassword;
           confirm_password.onkeyup = validatePassword;

       </script>

   {% endblock %}






