<html lang="en">

<head>

    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>

    {#<style>#}
        {#.axis path {#}
            {#fill: none;#}
            {#stroke: #777;#}
            {#shape-rendering: crispEdges;#}
        {#}#}
        {#.axis text {#}
            {#font-family: Lato;#}
            {#font-size: 13px;#}
        {#}#}
    {#</style>#}

</head>

<body>

{% include 'FfbbBundle:Statistique:graph.html.twig' %}



</body>

</html>


{#/////////////////////////////////////////////////////////////////////////////////////////////////////////////////#}

