<html lang="en">

<head>

    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>

</head>

<body>

{% include 'FfbbBundle:Statistique:graph.html.twig' %}

<script type="text/javascript">

    console.log( "------------------------------------------------------ DEBUG export PDF graph -------------------------------------------" );
    var donneesGraph = {{ donneesStatistiques.donneesGraph | json_encode | raw }};
    console.log('donneesGraph: ' + JSON.stringify(donneesGraph));

    var data = donneesGraph[0];
    var data2 = donneesGraph[1];


    InitChart(data, data2);

</script>



</body>

</html>


{#/////////////////////////////////////////////////////////////////////////////////////////////////////////////////#}

