<html lang="en">

<head>

    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>

    {#<style>#}
        {#.axis path {#}
            {#fill: none;#}
            {#stroke: #777;#}
            {#shape-rendering: crispEdges;#}
        {#}#}
        {#.axis text {#}
            {#font-family: Lato;#}
            {#font-size: 13px;#}
        {#}#}
    {#</style>#}

</head>

<body>

{% include 'FfbbBundle:Statistique:graph.html.twig' %}

<script type="text/javascript">
            var data = [{
                "sale": "202",
                "year": "2000"
            }, {
                "sale": "215",
                "year": "2002"
            }, {
                "sale": "179",
                "year": "2004"
            }, {
                "sale": "199",
                "year": "2006"
            }, {
                "sale": "134",
                "year": "2008"
            }, {
                "sale": "176",
                "year": "2010"
            }];
            var data2 = [{
                "sale": "152",
                "year": "2000"
            }, {
                "sale": "189",
                "year": "2002"
            }, {
                "sale": "179",
                "year": "2004"
            }, {
                "sale": "199",
                "year": "2006"
            }, {
                "sale": "134",
                "year": "2008"
            }, {
                "sale": "176",
                "year": "2010"
            }];


    InitChart(data, data2);

</script>



</body>

</html>


{#/////////////////////////////////////////////////////////////////////////////////////////////////////////////////#}

