
<div class="container">

    <style>
        .axis path, .axis line  {
            fill: none;
            stroke: black;
            shape-rendering: crispEdges;
        }
        .axis text {
            font-family: Lato;
            font-size: 13px;
        }


    </style>

    <div class="jumbotron">
        <svg id="visualisation" width="1000" height="500"></svg>
    </div>



</div>



<script type="text/javascript">

    {# script pour D3js #}
    function InitChart(donneesGraph) {
        console.log('############################################## DEBUG CHART D3JS ################################################');

        // initializer svg
        $("svg").find("g").remove();

        console.log('in function donneesGraph: ' + JSON.stringify(donneesGraph));

        var mindate = new Date(donneesGraph.dateDebutGraph),
                maxdate = new Date(donneesGraph.dateFinGraph);

        console.log('mindate: ' + mindate);
        console.log('maxdate: ' + maxdate);


        var width = 1000;
        var height = 500;
        var margins = {
            top: 20,
            right: 50,
            bottom: 20,
            left: 50
        };
        var xscale = d3.time.scale().range([margins.left, width- margins.right]).domain([mindate, maxdate]);
        var yscale = d3.scale.linear().range([height - margins.top, margins.bottom]).domain([134, 215]);
//        console.log("xaxis " + xaxis);

        var svg = d3.select("#visualisation"),
                WIDTH = width,
                HEIGHT = 500,
                MARGINS = margins,
                xScale = xscale;
                yScale = yscale,
                xAxis = d3.svg.axis()
                        .scale(xScale),
                yAxis = d3.svg.axis()
                        .scale(yScale)
                        .orient("left");

        // formatter
        //        var xaxis =
//                .ticks(d3.time.day, 2)
//                .tickFormat(d3.time.format("%d/%m/%Y"));


        svg.append("svg:g")
                .attr("class", "x axis")
                .attr("transform", "translate(0," + (HEIGHT - MARGINS.bottom) + ")")
                .call(xAxis);
        svg.append("svg:g")
                .attr("class", "y axis")
                .attr("transform", "translate(" + (MARGINS.left) + ",0)")
                .call(yAxis);


//        var lineGen = d3.svg.line()
//                .x(function(d) {
//                    return xScale(d.year);
//                })
//                .y(function(d) {
//                    return yScale(d.sale);
//                })
//                .interpolate("basis");

//        svg.append('svg:path')
//                .attr('d', lineGen(data))
//                .attr('stroke', 'green')
//                .attr('stroke-width', 2)
//                .attr('fill', 'none');
//
//        svg.append('svg:path')
//                .attr('d', lineGen(data2))
//                .attr('stroke', 'blue')
//                .attr('stroke-width', 2)
//                .attr('fill', 'none');
    }





</script>


