
<div class="container">

    <style>
        .axis path, .axis line  {
            fill: none;
            stroke: black;
            shape-rendering: crispEdges;
        }
        .axis text {
            font-family: Lato;
            font-size: 13px;
        }


    </style>

    <div class="jumbotron">
        <svg id="visualisation" width="1000" height="550"></svg>
    </div>



</div>

<script src="{{ asset('bundles/ffbb/bower_components/jquery/dist/jquery.min.js') }}"></script>


<script type="text/javascript">

    {# script pour D3js #}
    function InitChart(donneesGraph) {
        console.log('############################################## DEBUG CHART D3JS ################################################');

        // initializer svg
        $("svg").find("g").remove();

        console.log('in function donneesGraph: ' + JSON.stringify(donneesGraph));


        var dateDebutGraph = donneesGraph.dateDebutGraph;
        var dateFinGraph = donneesGraph.dateFinGraph;
        var formatResultat = donneesGraph.formatResultat ;
        var nbrLabelXAxis = donneesGraph.nbrLabelXAxis ;


        console.log('dateDebutGraph: ' + dateDebutGraph);
        console.log('dateFinGraph: ' + dateFinGraph);
        console.log('nbrLabelXAxis: ' + nbrLabelXAxis);

        var mindate = new Date(dateDebutGraph),
                maxdate = new Date(dateFinGraph);

        console.log('mindate: ' + mindate);
        console.log('maxdate: ' + maxdate);

        var svg = d3.select("#visualisation"),
                WIDTH = 1000,
                HEIGHT = 550,
                MARGINS = {
                    top: 20,
                    right: 50,
                    bottom: 20,
                    left: 50
                };


        if(formatResultat == "jour"){
            var xScale = d3.time.scale().range([MARGINS.left, WIDTH- MARGINS.right]).domain([mindate, maxdate]);
            var xAxis = d3.svg.axis()
                    .scale(xScale);

            console.log('nbrLabelXAxis: ' + nbrLabelXAxis);

            var deltaJours = Math.floor(nbrLabelXAxis/7) + 1;
            console.log('deltaJours: ' + deltaJours);

//            console.log('d3.time.day: ' + d3.time.day);
            xAxis.ticks(d3.time.day, deltaJours)
                    .tickFormat(d3.time.format("%d/%m/%Y"));

        }
        else if(formatResultat == "mois"){
            var mindate = new Date("2016/04/01"),
                    maxdate = new Date("2016/06/10");

            var xScale = d3.time.scale().range([MARGINS.left, WIDTH- MARGINS.right]).domain([mindate, maxdate]);
            var xAxis = d3.svg.axis()
                    .scale(xScale);
            xAxis.ticks(d3.time.month, 2)
                    .tickFormat(d3.time.format("%m/%Y"));

        }
        else if(formatResultat == "annee"){
            var xScale = d3.time.scale().range([MARGINS.left, WIDTH- MARGINS.right]).domain([mindate, maxdate]);
            var xAxis = d3.svg.axis()
                    .scale(xScale);
            xAxis.ticks(d3.time.year, 2)
                    .tickFormat(d3.time.format("%Y"));

        }

        var yScale =  d3.scale.linear().range([HEIGHT - MARGINS.top, MARGINS.bottom]).domain([134, 215]);
        var yAxis = d3.svg.axis()
                        .scale(yScale)
                        .orient("left");


        svg.append("svg:g")
                .attr("class", "x axis")
                .attr("transform", "translate(0," + (HEIGHT - MARGINS.bottom) + ")")
                .call(xAxis)
                .selectAll("text")
                .style("text-anchor", "end")
                .attr("dx", "-.8em")
                .attr("dy", ".15em")
                .attr("transform", function(d) {
                    return "rotate(-65)"
                });;
        svg.append("svg:g")
                .attr("class", "y axis")
                .attr("transform", "translate(" + (MARGINS.left) + ",0)")
                .call(yAxis);


//        var lineGen = d3.svg.line()
//                .x(function(d) {
//                    return xScale(d.year);
//                })
//                .y(function(d) {
//                    return yScale(d.sale);
//                })
//                .interpolate("basis");

//        svg.append('svg:path')
//                .attr('d', lineGen(data))
//                .attr('stroke', 'green')
//                .attr('stroke-width', 2)
//                .attr('fill', 'none');
//
//        svg.append('svg:path')
//                .attr('d', lineGen(data2))
//                .attr('stroke', 'blue')
//                .attr('stroke-width', 2)
//                .attr('fill', 'none');
    }





</script>


