{% extends "::BOLayout.html.twig" %}

{% block pagewrapper %}

    <div id="page-wrapper">

        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">
                    <b>Visualisez les rapports d'utilisation de l'application</b>
                </h3>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>  Sélectionnez les caractéristiques du rapport statistique que vous souhaitez visualiser </h4>
                    </div>
                    <div class="panel-body">



                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="typeRapport">TYPE DE RAPPORT </label>
                                <div class="col-sm-2">
                                    <select class="form-control" id="selectRapport" >
                                        <option value="vide" selected> -- selectionnez une option -- </option>
                                        {% if (is_granted('ROLE_ADMIN') == true) %}
                                            <option value="utilisateur">Rapport utilisateur</option>
                                            <option value="federation">Rapport fédération</option>
                                        {% endif %}

                                        {% if (is_granted('ROLE_SUPER_ADMIN') == true) %}
                                            <option value="systeme">Rapport système</option>

                                        {% endif %}
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-2" for="nomFderation">NOM DE LA FEDERATION</label>
                                <div class="col-sm-2">
                                    <select class="form-control" id="selectFederation" >
                                        <option value="vide" selected> -- selectionnez une option -- </option>
                                        {% for federation in listeFederations  %}
                                            <option value="{{ federation.id }}">{{ federation.nom }}</option>

                                        {% endfor %}

                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-2" for="nomDiscipline">NOM DE LA DISCIPLINE</label>
                                <div class="col-sm-2">
                                    <select class="form-control" id="selectDiscipline">
                                        <option value="vide" selected> -- selectionnez une option -- </option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-2" for="nomUtilisateur">NOM DE L'UTILISATEUR</label>
                                <div class="col-sm-2">
                                    <select class="form-control" id="selectUtilisateur" >
                                        <option value="vide" selected> -- selectionnez une option -- </option>
                                        <option value="tous">Tous utilisateurs</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-2" for="dateDebut">DATE DE DEBUT</label>
                                <div class="col-sm-2" >

                                    <div class="input-group date">
                                        <input type="text" class="form-control">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                                    </div>


                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-2" for="dateFin">DATE DE FIN</label>
                                <div class="col-sm-2" >

                                    <div class="input-group date">
                                        <input type="text" class="form-control">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                                    </div>


                                </div>
                            </div>

                            <div class="form-group">
                                <div class="control-label col-sm-4 ">
                                    <button type="submit" class="btn btn-statistique">Accéder</button>
                                </div>
                            </div>
                        </form>

                    </div>


                </div>
            </div>
        </div>



        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4> Votre rapport </h4>
                    </div>

                    <div class="panel-body">
                        <h4 class="page-header">Synthèse des utilisations - vue graphique </h4>

                        {% include 'FfbbBundle:Statistique:graph.html.twig' %}


                        <div class="form-group">
                            <div class="col-md-12">
                                <form name="submitParams" action="{{ path('ffbb_statistiques_export_pdf')}}" method="post">
                                    <button style="width: 120px" type="submit" class="btn btn-statistique pull-right">Exporter</button>

                                </form>
                            </div>

                        </div>

                        <br>
                        <h4 class="page-header">Synthèse des utilisations - vue tableur</h4>

                        <table id="tableUtilisateur" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th rowspan="2" width="5%"></th>

                                    <th width="10%"><h4><b>Connexion</b></h4></th>
                                    <th colspan="2" width="20%"><h4><b>Fonctions</b></h4></th>
                                    <th colspan="3" width="30%"><h4><b>Contraintes</b></h4></th>
                                    <th colspan="2" width="20%"><h4><b>Outils</b></h4></th>


                                </tr>

                                <tr>
                                    <th style="vertical-align: middle"><h4>Nombre de connexions à Optimouv</h4></th>
                                    <th style="vertical-align: middle"><h4>Nombre de lancements de la fonction optimisation de poules</h4></th>
                                    <th style="vertical-align: middle"><h4>Nombre de lancements de la fonction meilleur lieu de rencontre</h4></th>
                                    <th style="vertical-align: middle"><h4>Nombre d'interdictions utilisées</h4></th>
                                    <th style="vertical-align: middle"><h4>Nombre de répartitions homogènes utilisées</h4></th>
                                    <th style="vertical-align: middle"><h4>Nombre d'exclusions géographiques utilisés</h4></th>
                                    <th style="vertical-align: middle"><h4>Nombre de lancements de l'algorithme d'optimisation des poules (comprenant les relances de calculs avec modification des critères)</h4></th>
                                    <th style="vertical-align: middle"><h4>Nombre de requêtes Here effectuées (toutes fonctions confondues)</h4></th>

                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td> jan-16</td>
                                    <td> 12</td>
                                    <td> 10</td>
                                    <td> 10</td>
                                    <td> 10</td>
                                    <td> 10</td>
                                    <td> 10</td>
                                    <td> 10</td>
                                    <td> 10</td>
                                </tr>
                                <tr>
                                    <td> févr-16</td>
                                    <td> 12</td>
                                    <td> 10</td>
                                    <td> 10</td>
                                    <td> 10</td>
                                    <td> 10</td>
                                    <td> 10</td>
                                    <td> 10</td>
                                    <td> 10</td>
                                </tr>


                            </tbody>
                        </table>


                        <table id="tableUtilisateur" class="table table-striped table-bordered table-hover">
                            <thead>
                            <tr>
                                <th style="vertical-align: middle" width="10%"></th>
                                <th style="vertical-align: middle" width="20%"><h4>Nombre de connexions à Optimouv</h4></th>
                                <th style="vertical-align: middle" width="20%"><h4>Nombre de calculs de scénarios lancés</h4></th>
                                <th style="vertical-align: middle" width="20%"><h4>Temps de réponse moyen pour l'obtention des résultats (en minutes)</h4></th>
                                <th style="vertical-align: middle" width="20%"><h4>Nombre de requêtes Here effectuées (toutes fonctions confondues)</h4></th>

                            </tr>
                            </thead>

                            <tbody>
                            <tr>
                                <td> jan-16</td>
                                <td> 12</td>
                                <td> 10</td>
                                <td> 10</td>
                                <td> 10</td>
                            </tr>
                            <tr>
                                <td> févr-16</td>
                                <td> 12</td>
                                <td> 10</td>
                                <td> 10</td>
                                <td> 10</td>
                            </tr>


                            </tbody>
                        </table>




                        <div class="form-group">
                            <div class="col-md-12">
                                <select style="width: 120px" class="btn btn-statistique pull-right" name="formatExport">
                                    <option value="" disabled="disabled" selected="selected">Exporter</option>
                                    <option class="btn btn-statistique" value="xml">XML</option>
                                    <option value="csv">CSV</option>
                                </select>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>


    </div>



{% endblock %}

{% block javascripts %}

    <script type="text/javascript">

        $(function() {
            {# options pour le js Date picker #}
            $('.input-group.date').datepicker({
                format: "dd/mm/yyyy",
                todayBtn: "linked",
                language: "fr",
                autoclose: true
            });


            function reinitiliaserSelectDisciplines(){
                $('#selectDiscipline').prop('selectedIndex',0)
                        .find('option')
                        .remove()
                        .end()
                        .append('<option value="vide">-- selectionnez une option --</option>')
                ;

            }

            // obtenir les données pour les filtres
            var listeFederations = {{ listeFederations | json_encode | raw }};
//            console.log("listeFederations: " + JSON.stringify(listeFederations));


            // evenement handler
            $( "#selectRapport" ).change(function() {
                console.log( "------------------------------------------------------ DEBUG selectRapport -------------------------------------------" );

                // obtenir le type de rapport
                var typeRapport = $("#selectRapport option:selected").val();
                console.log( "typeRapport: " + typeRapport );


            });
            $( "#selectFederation" ).change(function() {
                console.log( "------------------------------------------------------ DEBUG selectFederation -------------------------------------------" );

                // obtenir l'id de fédération
                var federationId = $("#selectFederation option:selected").val();
                console.log( "federationId: " + federationId );

                // obtenir l'index du select option
                var indexSelectionner = $("#selectFederation").prop("selectedIndex");
                console.log( "indexSelectionner: " + indexSelectionner);

                var federationSelectionner = listeFederations[indexSelectionner-1];
//                console.log( "federationSelectionner: " + JSON.stringify(federationSelectionner));

                var disciplinesSelectionner = federationSelectionner["disciplines"];
//                console.log( "disciplinesSelectionner: " + JSON.stringify(disciplinesSelectionner));

                for(var i=0; i<disciplinesSelectionner.length; i++){
                    var disciplineId = disciplinesSelectionner[i]["id"];
                    console.log( "disciplineId: " + JSON.stringify(disciplineId));
                    var disciplineNom = disciplinesSelectionner[i]["nom"];
                    console.log( "disciplineNom: " + JSON.stringify(disciplineNom));

                    // reinitialiser select option disciplines
                    reinitiliaserSelectDisciplines();

                    // ajouter des options pour le select disciplines
                    $('#selectDiscipline')
                            .append($("<option></option>")
                                    .attr("value", disciplineId)
                                    .text(disciplineNom));

                }

            });

            $( "#selectDiscipline" ).change(function() {
                console.log( "------------------------------------------------------ DEBUG selectDiscipline -------------------------------------------" );

                // obtenir l'id de discipline
                var disciplineId = $("#selectDiscipline option:selected").val();
                console.log( "disciplineId: " + disciplineId );
            });

            $( "#selectUtilisateur" ).change(function() {
                console.log( "------------------------------------------------------ DEBUG selectUtilisateur -------------------------------------------" );

                // obtenir l'id d'utilisateur
                var utilisateurId = $("#selectUtilisateur option:selected").val();
                console.log( "utilisateurId: " + utilisateurId );
            });



        });

    </script>



{% endblock %}
