{% extends '::BOLayout.html.twig' %}

     {% block pagewrapper %}

         <div id="page-wrapper">

             <div class="row">
                 <div class="col-lg-12">
                     <h3 class="page-header">Créez votre groupe de participants </h3>
                 </div>
                 <!-- /.col-lg-12 -->
             </div>
             <!-- /.row -->

             <div class="row" >


                 <form id="demoform" action="{{ path('ffbb_homepage') }}" method="POST" class="panel-heading">
                     <select multiple="multiple" size="10" name="duallistbox_demo1[]">
                        <option	value="47000	AGEN">AGEN</option>
                        <option	value="73100	AIX-LES-BAINS">AIX-LES-BAINS</option>
                        <option	value="62160	AIX-NOULETTE">AIX-NOULETTE</option>
                        <option	value="81990	ALBI">ALBI</option>
                        <option	value="94140	ALFORTVILLE">ALFORTVILLE</option>
                        <option	value="38140	APPRIEU">APPRIEU</option>
                        <option	value="32001	AUCH">AUCH</option>
                        <option	value="84000	AVIGNON">AVIGNON</option>
                        <option	value="49240	AVRILLE">AVRILLE</option>
                        <option	value="28630	BARJOUVILLE">BARJOUVILLE</option>
                        <option	value="90000	BELFORT">BELFORT</option>
                        <option	value="01300	BELLEY">BELLEY</option>
                        <option	value="24750	BOULAZAC">BOULAZAC</option>
                        <option	value="62200	BOULOGNE-SUR-MER">BOULOGNE-SUR-MER</option>
                        <option	value="01000	BOURG-EN-BRESSE">BOURG-EN-BRESSE</option>
                        <option	value="79300	BRESSUIRE">BRESSUIRE</option>
                        <option	value="29200	BREST">BREST</option>
                        <option	value="14000	CAEN">CAEN</option>
                        <option	value="06800	CAGNES-SUR-MER">CAGNES-SUR-MER</option>
                        <option	value="62470	CALONNE-RICOUART">CALONNE-RICOUART</option>
                        <option	value="59400	CAMBRAI">CAMBRAI</option>
                        <option	value="44470	CARQUEFOU">CARQUEFOU</option>
                        <option	value="33480	CASTELNAU-DE-MEDOC">CASTELNAU-DE-MEDOC</option>
                        <option	value="34170	CASTELNAU-LE-LEZ">CASTELNAU-LE-LEZ</option>
                        <option	value="85300	CHALLANS">CHALLANS</option>
                        <option	value="94220	CHARENTON-LE-PONT">CHARENTON-LE-PONT</option>
                        <option	value="16100	CHATEAUBERNARD">CHATEAUBERNARD</option>
                        <option	value="36000	CHATEAUROUX">CHATEAUROUX</option>
                        <option	value="50100	CHERBOURG">CHERBOURG</option>
                        <option	value="49300	CHOLET">CHOLET</option>
                        <option	value="31770	COLOMIERS">COLOMIERS</option>
                        <option	value="77120	COULOMMIERS">COULOMMIERS</option>
                        <option	value="69150	DECINES-CHARPIEU">DECINES-CHARPIEU</option>
                        <option	value="21000	DIJON">DIJON</option>
                        <option	value="40700	DOAZIT">DOAZIT</option>
                        <option	value="62119	DOURGES">DOURGES</option>
                        <option	value="27000	EVREUX">ÉVREUX </option>
                        <option	value="76400	FECAMP">FECAMP</option>
                        <option	value="13270	FOS-SUR-MER">FOS-SUR-MER</option>
                        <option	value="35300	FOUGERES">FOUGERES</option>
                        <option	value="67118	GEISPOLSHEIM">GEISPOLSHEIM</option>
                        <option	value="92230	GENNEVILLIERS">GENNEVILLIERS</option>
                        <option	value="76120	LE GRAND-QUEVILLY">LE GRAND-QUEVILLY</option>
                        <option	value="59820	GRAVELINES">GRAVELINES</option>
                        <option	value="67240	GRIES">GRIES</option>
                        <option	value="68500	GUEBWILLER">GUEBWILLER</option>
                        <option	value="67500	HAGUENAU">HAGUENAU</option>
                        <option	value="67810	HOLTZHEIM">HOLTZHEIM</option>
                        <option	value="40700	HORSARRIEU">HORSARRIEU</option>
                        <option	value="83400	HYERES">HYERES</option>
                        <option	value="42460	LA GRESLE">LA GRESLE</option>
                        <option	value="85000	LA ROCHE-SUR-YON">LA ROCHE-SUR-YON</option>
                        <option	value="83740	LA-CADIERE-D'AZUR">LA-CADIERE-D'AZUR</option>
                        <option	value="83250	LA-LONDE-LES-MAURES">LA-LONDE-LES-MAURES</option>
                        <option	value="53000	LAVAL">LAVAL</option>
                        <option	value="47230	LAVARDAC">LAVARDAC</option>
                        <option	value="72000	LE MANS">LE MANS</option>
                        <option	value="77350	LE MEE-SUR-SEINE">LE MEE-SUR-SEINE</option>
                        <option	value="62480	LE PORTEL">LE PORTEL</option>
                        <option	value="42155	LENTIGNY">LENTIGNY</option>
                        <option	value="87000	LIMOGES">LIMOGES</option>
                        <option	value="14100	LISIEUX">LISIEUX</option>
                        <option	value="80330	LONGUEAU">LONGUEAU</option>
                        <option	value="54400	LONGWY">LONGWY</option>
                        <option	value="39000	LONS-LE-SAUNIER">LONS-LE-SAUNIER</option>
                        <option	value="83510	LORGUES">LORGUES</option>
                        <option	value="69006	LYON">LYON</option>
                        <option	value="92240	MALAKOFF">MALAKOFF</option>
                        <option	value="57535	MARANGE-SILVANGE">MARANGE-SILVANGE</option>
                        <option	value="60280	MARGNY-LES-COMPIEGNE">MARGNY-LES-COMPIEGNE</option>
                        <option	value="78160	MARLY-LE-ROI">MARLY-LE-ROI</option>
                        <option	value="13500	MARTIGUES">MARTIGUES</option>
                        <option	value="59600	MAUBEUGE">MAUBEUGE</option>
                        <option	value="34130	MAUGUIO">MAUGUIO</option>
                        <option	value="06500	MENTON">MENTON</option>
                        <option	value="33700	MERIGNAC">MERIGNAC</option>
                        <option	value="74370	METZ-TESSY">METZ-TESSY</option>
                        <option	value="88500	MIRECOURT">MIRECOURT</option>
                        <option	value="40700	MONSEGUR">MONSEGUR</option>
                        <option	value="26200	MONTELIMAR">MONTELIMAR</option>
                        <option	value="35160	MONTFORT-SUR-MEU">MONTFORT-SUR-MEU</option>
                        <option	value="40500	MONTGAILLARD">MONTGAILLARD</option>
                        <option	value="68790	MORSCHWILLER-LE-BAS">MORSCHWILLER-LE-BAS</option>
                        <option	value="06250	MOUGINS">MOUGINS</option>
                        <option	value="44000	NANTES">NANTES</option>
                        <option	value="93330	NEUILLY-SUR-MARNE">NEUILLY-SUR-MARNE</option>
                        <option	value="45140	ORMES">ORMES</option>
                        <option	value="77330	OZOIR-LA-FERRIERE">OZOIR-LA-FERRIERE</option>
                        <option	value="35740	PACE">PACE</option>
                        <option	value="87350	PANAZOL">PANAZOL</option>
                        <option	value="75007	PARIS">PARIS  7E  ARRONDISSEMENT</option>
                        <option	value="69310	PIERRE-BENITE">PIERRE-BENITE</option>
                        <option	value="86000	POITIERS">POITIERS</option>
                        <option	value="39800	POLIGNY">POLIGNY</option>
                        <option	value="25300	PONTARLIER">PONTARLIER</option>
                        <option	value="95300	PONTOISE">PONTOISE</option>
                        <option	value="73490	LA RAVOIRE">LA RAVOIRE</option>
                        <option	value="51520	RECY">RECY</option>
                        <option	value="35000	RENNES">RENNES</option>
                        <option	value="44400	REZE">REZE</option>
                        <option	value="68170	RIXHEIM">RIXHEIM</option>
                        <option	value="42300	ROANNE">ROANNE</option>
                        <option	value="42230	ROCHE-LA-MOLIERE">ROCHE-LA-MOLIERE</option>
                        <option	value="12000	RODEZ">RODEZ</option>
                        <option	value="63130	ROYAT">ROYAT</option>
                        <option	value="10120	SAINT-ANDRE-LES-VERGERS">SAINT-ANDRE-LES-VERGERS</option>
                        <option	value="21850	SAINT-APOLLINAIRE">SAINT-APOLLINAIRE</option>
                        <option	value="42400	SAINT-CHAMOND">SAINT-CHAMOND</option>
                        <option	value="93200	SAINT-DENIS">SAINT-DENIS</option>
                        <option	value="88100	SAINT-DIE">SAINT-DIE</option>
                        <option	value="52100	SAINT-DIZIER">SAINT-DIZIER</option>
                        <option	value="38120	SAINT-EGREVE">SAINT-EGREVE</option>
                        <option	value="85600	SAINT-GEORGES-DE-MONTAIGU">SAINT-GEORGES-DE-MONTAIGU</option>
                        <option	value="44530	SAINT-GILDAS-DES-BOIS">SAINT-GILDAS-DES-BOIS</option>
                        <option	value="42170	SAINT-JUST-SAINT-RAMBERT">SAINT-JUST-SAINT-RAMBERT</option>
                        <option	value="06700	SAINT-LAURENT-DU-VAR">SAINT-LAURENT-DU-VAR</option>
                        <option	value="62280	SAINT-MARTIN-BOULOGNE">SAINT-MARTIN-BOULOGNE</option>
                        <option	value="94100	SAINT-MAUR-DES-FOSSES">SAINT-MAUR-DES-FOSSES</option>
                        <option	value="33160	SAINT-MEDARD-EN-JALLES">SAINT-MEDARD-EN-JALLES</option>
                        <option	value="44600	SAINT-NAZAIRE">SAINT-NAZAIRE</option><!-- villes manquantes -->
                        <option	value="02100	SAINT-QUENTIN">SAINT-QUENTIN</option>
                        <option	value="78500	SARTROUVILLE">SARTROUVILLE</option>
                        <option	value="91600	SAVIGNY-SUR-ORGE">SAVIGNY-SUR-ORGE</option>
                        <option	value="67300	SCHILTIGHEIM">SCHILTIGHEIM</option>
                        <option	value="49280	LA SEGUINIERE">LA SEGUINIERE</option>
                        <option	value="69170	TARARE">TARARE</option>
                        <option	value="59224	THIANT">THIANT</option>
                        <option	value="40250	TOULOUZETTE">TOULOUZETTE</option>
                        <option	value="07300	TOURNON-SUR-RHONE">TOURNON-SUR-RHONE</option>
                        <option	value="37200	TOURS">TOURS</option>
                        <option	value="78190	TRAPPES">TRAPPES</option>
                        <option	value="33370	TRESSES">TRESSES</option>
                        <option	value="69120	VAULX-EN-VELIN">VAULX-EN-VELIN</option>
                        <option	value="13770	VENELLES">VENELLES</option>
                        <option	value="92410	VILLE-D'AVRAY">VILLE-D'AVRAY</option>
                        <option	value="12200	VILLEFRANCHE-DE-ROUERGUE">VILLEFRANCHE-DE-ROUERGUE</option>
                        <option	value="47300	VILLENEUVE-SUR-LOT">VILLENEUVE-SUR-LOT</option>
                        <option	value="41350	VINEUIL">VINEUIL</option>
                        <option	value="91170	VIRY-CHATILLON">VIRY-CHATILLON</option>
                        <option	value="08330	VRIGNE-AUX-BOIS">VRIGNE-AUX-BOIS</option>
                        <option	value="59290	WASQUEHAL">WASQUEHAL</option>
                     </select>
                     <br>
                     <button type="submit" class="btn btn-default pull-right">Envoyer</button>
                 </form>

             </div>


             {#<div class="row">#}
                 {#<div class="col-lg-6">#}
                     {#<div class="panel panel-red" style="resize:vertical; overflow-y:auto;">#}
                         {#<div class="panel-heading">#}
                             {#Liste des lieux#}
                         {#</div>#}
                         {#<div class="panel-body"  style="min-height: 150px; max-height: 190px">#}

                             {#<ul class="connected list list-unstyled"#}
                                 {#style=" padding-left:20px; list-style-image: url('{{ asset('bundles/ffbb/images/puce-mini.png') }}')">#}
                                 {#<li><label data-value="94054 ORLY">ORLY</label></li>#}
                                 {#<li><label data-value="56186 QUIBERON">QUIBERON</label></li>#}
                                 {#<li><label data-value="83133 TANNERON">TANNERON</label></li>#}
                                 {#<li><label data-value="49105 CONTIGNE">CONTIGNE</label></li>#}
                                 {#<li><label data-value="57693 VANTOUX">VANTOUX</label></li>#}



                             {#</ul>#}
                         {#</div>#}

                     {#</div>#}

                 {#</div>#}


             </div>







             <!-- /.row -->
         </div>





         {% block javascripts %}
             <!-- code interne dual list box -->
             <script>
                 var demo1 = $('select[name="duallistbox_demo1[]"]').bootstrapDualListbox();
//                 $("#demoform").submit(function() {
//                     alert($('[name="duallistbox_demo1[]"]').val());
//                     return false;
//                 });
             </script>
         {% endblock %}


     {% endblock %}






