class INPUT:
    Iter = 5 # number of iteration to calculate P matrix for round trip and one way match
    IterPlateau = 5 # number of iteration to calculate shortest distance for match plateau
    IterConstraint = 10000 # maximum number of iteration before error constraint
    IterLaunch = 20 # number of launch iteration for round trip and one way match
    IterLaunchPlateau = 10 # number of launch iteration for plateau match
    IterShortestDistancePlateau = 540000 # max iteration number is 531441 to be exaxt
    MainUrl = 'http://localhost' # public URL

class DB:
    Host  =  'mysql'
    Db  =  'optimouv'
    User  =  'root'
    Password  =  'myPass'

class HERE:
    RouteAppId = 'Votre ID Here Maps'
    RouteAppCode = 'Votre App Code Here Maps'

class EMAIL:
    Server = 'smtp.mycompany.com'
    Port = '587'
    Account = 'mon.compte@mycompany.com'
    Password = 'password'
    From = 'support@mycompany.com'

class MQ:
    Host = 'rabbitmq'
    User = 'rabbit'
    Password = 'mq'
    Queue = 'poule_queue'
    Exchange = 'poule_exchange'

class LOG:
    Path = '/optimouv/var/logs/python.log'
