class INPUT:
	Iter=5
	IterConstraint=10000
	MainUrl= "http://ffbb" # 
# 	MainUrl= "http://dev.ffbb.it4pme.fr/" # 
	
class DB:
	Host="127.0.0.1"
	Db="optimouv"
	User="root"
	Password="trk"
	
class HERE:
	AppId="tObeTMHIXTfmuTUvyDBa"
	AppCode="6ST2s3g8BkS7B0Uft0kPeg"
	
class EMAIL:
	Server="smtp.gmail.com"
	Port="587"
	Account="vtc.ouss@gmail.com"
	Password="EJAg$m896!"

class MQ:
	Host="127.0.0.1"
	User="guest"
	Password="guest"
	Queue="poule_queue"
	Exchange="poule_exchange"

class LOG:
	Path='/tmp/ffbb.log'
