Bonjour,<br><br>

Le résultat de votre calcul est disponible.<br>

Vous pouvez le consulter en cliquant sur ce lien :
<a href="http://{{ base_url }}{{ path('ffbb_consulter_rapport', {'idRapport': idRapport, 'typeAction': typeAction}) }}"> lien</a>
<br><br>

Optimouv<br>

{{ expediteurEmail }}


